/* hoja de estilo en cascada

Selector de clase         Este tipo de selector es más específico que el selector de etiqueta, es decir, Selector Specificity: (0,1,0)
.colorDeFondo                 aquí llamo el selector de clase con el punto y el nombre de la etiqueta que defini en HTML. 
    {                           Siendo que en Html si escribí class="colorDeFondo propiedad propiedad" 
    propiedad: valor;           como un atributo dentro de la etiqueta respectiva. Formato class="propiedad propiedad propiedad"
    propiedad: valor;
    }
    Especificidad (0,0,0) mata cascada, es decir, la clase es más importante que la etiqueta

/*Utilizaremos solo selector de clase*/
/*<style>*/

@font-face 
    { 
        font-family: "PT Sans Narrow"; 
        src: url("./assets/fonts/PTSansNarrow-Regular.ttf"); 
    }

/*@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500&display=swap');
/*</style>*/

/* Ya que la mayoría de los navegadores establece un margen por defecto entre el contenido de la página web y su propia ventana, cuyo valor varía de un navegador a otro.
Para subsanar esa diferencia, los diseñadores suelen declarar la siguiente línea al comienzo de sus hojas de estilo*/


*
    {
        margin: 0px;
        padding: 0px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        box-sizing: border-box; /* indico que todos los elementos respeten su tamaño indistintamente si agrego borde o
                                padding a los elementos de las cajas */
    }

/* header */

.encabezadoHeaderUl
    {
        list-style-type: none;
    }
    
.encabezadoHeader                           
    {
        background-color:thistle;
        top: 0px;    /* este atributo indica donde posiciono el elemento, en este caso a 0px desde arriba de la página*/
        position: sticky;   /* mientras que este lo deja fijo en la posición indicada por top y si se activa el scroll vertical, seguiré viendo el objeto */
        z-index: 10;
    }

.encabezadoHeaderImg
    {                          
        width: 30px;
    }

.encabezadoHeaderAncla
    {
        display: inline-block;  /* permite establecer un ancho y alto en el elemento*/ 
        text-decoration: none;    /* quita el subrayado de cada una de las opciones del menù de navegaciòn */    
        color: black;
        font-size: 15px;
        margin-top: 5px;    /* distancia superior externa a la caja */
        margin-left: 5px;   /* distancia a la izquierda externa a la caja */ 
        padding: 5px 5px 5px 5px; /* distancias internas superior, derecha, inferior e izquierda a la caja */
        font-family:  'PT Sans Narrow', sans-serif;
        /*width: 400px;
        height: 200px;*/
        /*padding: 1px;*/
        border: 2px solid rgb(93, 75, 18);  /* aplico borde y color a cada uno de los links - caja -*/
        background-color: rgb(241, 189, 130);   /* aplico color de fondo a cada uno de los links*/
        width: 70px;
        height: 30px;
        box-shadow: 10px 8px 10px 0px rgba(0,0,0,0.58);             /* las tres */
        -webkit-box-shadow: 10px 8px 10px 0px rgba(0,0,0,0.58);     /* líneas actuan */
        -moz-box-shadow: 10px 8px 10px 0px rgba(0,0,0,0.58);        /* sobre el efecto de sombra del botón*/
    }

/* main */

.sangria                    /* las clases se llaman con el punto */
    {
        text-indent: 30px; /*debiera ser vh, vw o % la unidad de medida a expresar*/
    }

.hUno
    {
        text-align: center;
        font-family:  'PT Sans Narrow', sans-serif;
    }

.hDosParrafo
    {
        text-indent: 40px;
        font-size: 20px;
        font-family:  'PT Sans Narrow', sans-serif;
    }   

.conjuntoDeCampos
    {
        text-align: center;
    }

.iframeCentrado
    {
        text-align: center; /* centrado de texto u objeto*/
        font-family:  'PT Sans Narrow', sans-serif;
    }

.tabla
    {
        margin-left: auto;
        margin-right: auto;
    }

.imagenFondoIndice
    {
        background-image: url(../assets/img/Biblioteca\ George\ Peabody\,\ Estados\ Unidos.jpg) ;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed; /* dejo fija la imágen y solo se mueve el contenido con el scroll vertical*/      -webkit-text-fill-color:white;
    }

.imagenFondoCatalogo
    {
        height: 75vh; /* mediante este atributo le indico que ocupe el 75% de la pagina donde esta parado*/
        background-image: url(../assets/img/Biblioteca\ Tianjin\ Binhai\,\ República\ Popular\ China.jpg);
        background-repeat:no-repeat;
        background-size: cover; 
        background-position: center;
        -webkit-text-fill-color: black       
    }

.imagenFondoRegistro
    {
        background-image: url(../assets/img/Biblioteca\ Nacional\ de\ Austria\,\ Republica\ de\ Austria.jpg) ;
        background-repeat:no-repeat;
        background-size: cover; 
        background-position: center;
    }

.imagenFondoPido
    {
        background-image: url(../assets/img/Biblioteca\ Estatal\ de\ Nueva\ Gales\ del\ Sur\,\ Australia.jpg) ;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        -webkit-text-fill-color:black;
    }

.imagenFondoContacto
    {
        background-image: url(../assets/img/Biblioteca\ del\ Palacio\ de\ Mafra\,\ Portugal.jpg) ;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

/* footer */

.pieDePagina
    {
        background-color:thistle;
        font-size: smaller;
        text-align: center;
    }
