/*
Especifico que ocupe el 100% del ancho y del alto del contenedor body
*/
.body
    {
        width: $cien-x-ciento;    
        height: $height-100vh;  
    }
/* 
Cargo una imagen de fondo en el contenedor body de la página index.html
En la primer pre entrega tal página estaba cargada en el main 
*/
.index__body__img__fondo
    {
        background: linear-gradient(to bottom,rgba(87, 73, 69, 0.63),rgba(74, 96, 74, 0.63)), url(../assets/img/Biblioteca\ George\ Peabody\,\ Estados\ Unidos.jpg);
        background-repeat: no-repeat;
        background-size: $cover;
        background-position:map-get($texto-alineacion,centrado);
        background-attachment: $fixed;   /* Esto indica que la imagen de fondo estará fija en 
                                        la pantalla y no se moverá con el contenedor.*/ 
    }                                

/* 
Utilizo el extend para en la clase catalogo reusar las mismas propiedades/valor que utilizo en la
clase imagen, con la salvedad de que la imagen de fondo cargado en el body de catalogo será distinta
de aquella cargada en el body de index.
*/
.catalogo__body__img__fondo
    {
        @extend .index__body__img__fondo;
        background-image: linear-gradient(to right,rgba(87, 73, 69, 0.63),rgba(74, 96, 74, 0.63)), url(../assets/img/Biblioteca\ Tianjin\ Binhai\,\ República\ Popular\ China.jpg);         
    }

.registro__body__img__fondo
    {
        @extend .index__body__img__fondo;
        background-image: linear-gradient(to left,rgba(87, 73, 69, 0.63),rgba(74, 96, 74, 0.63)), url(../assets/img/Biblioteca\ Nacional\ de\ Austria\,\ Republica\ de\ Austria.jpg);
    }

.galeria__body__img__fondo
    {
        @extend .index__body__img__fondo;
        background-image: linear-gradient(to top,rgba(87, 73, 69, 0.63),rgba(74, 96, 74, 0.63)), url(../assets/img/Biblioteca\ Estatal\ de\ Nueva\ Gales\ del\ Sur\,\ Australia.jpg);
    }

.contacto__body__img__fondo
    {
        @extend .index__body__img__fondo;
        background-image: linear-gradient(to top,rgba(87, 73, 69, 0.63),rgba(74, 96, 74, 0.63)), url(../assets/img/Biblioteca\ del\ Palacio\ de\ Mafra\,\ Portugal.jpg);
    }

.error__body__img__fondo
    {
        @extend .index__body__img__fondo;
        background-image: url(../assets/img/libro\ roto.jpg);
    }


    /* 
Utilizo dos mapas, del primero de ellos tomo el tamaño de la fuente mientras que del segundo utilizo
el tipo de alineacion del texto
*/
.h__uno
    {
        font-size: map-get($fuente-medida, h1);
        text-align: map-get($texto-alineacion, centrado);
    }

.h__dos 
    {
        font-size: map-get($fuente-medida,h2);
    }

.parrafo__fuente
    {
        font-size: map-get($fuente-medida,parrafo);
    }

.parrafo__biblioteca
    {
        font-size: map-get($fuente-medida,fuente-footer)+0.3;
    }

@media screen and (max-width: 768px)
    {
        .index__body__img__fondo
            {
                background: linear-gradient(to bottom,rgba(87, 73, 69, 0.63),rgba(74, 96, 74, 0.63)), url(../assets/img/Biblioteca\ George\ Peabody\,\ Estados\ Unidos_768.jpg);
            }

        .catalogo__body__img__fondo
            {
                background: linear-gradient(to right,rgba(87, 73, 69, 0.63),rgba(74, 96, 74, 0.63)), url(../assets/img/Biblioteca\ Tianjin\ Binhai\,\ República\ Popular\ China_768.jpg);         
            }
        
        .registro__body__img__fondo
            {
                background: linear-gradient(to left,rgba(87, 73, 69, 0.63),rgba(74, 96, 74, 0.63)), url(../assets/img/Biblioteca\ Nacional\ de\ Austria\,\ Republica\ de\ Austria_768.jpg);
            }
     
        .galeria__body__img__fondo
            {
                background: linear-gradient(to top,rgba(87, 73, 69, 0.63),rgba(74, 96, 74, 0.63)), url(../assets/img/Biblioteca\ Estatal\ de\ Nueva\ Gales\ del\ Sur\,\ Australia_768.jpg);
            }
     
        .contacto__body__img__fondo
            {
                background: linear-gradient(to top,rgba(87, 73, 69, 0.63),rgba(74, 96, 74, 0.63)), url("../assets/img/Portugal768.jpg");            
            }

        .nombre__biblioteca__ocultar
            {
                display: none;
            }
            
        .h__uno
            {
                font-size: 1.6rem;
            }
    
        .h__dos
            {
                font-size: 1.4rem;
            }   
   
        .parrafo__fuente
            {
                font-size: 1rem;
            }

        .parrafo__biblioteca
            {
                padding-top: 5px;
                font-size: 0.7rem;
            }

        .centrado
            {
                text-align: center;
            }
        /* 
        Modifico el tamaño de los títulos de columna y contenido de celdas de las tablas de catálogo
        y de pedí
        */
        th, td
            {
                font-size: 0.5rem;
            }
        
    }

@media screen and (max-width: 576px)
    {
        .index__body__img__fondo
            {
                background: linear-gradient(to bottom,rgba(87, 73, 69, 0.63),rgba(74, 96, 74, 0.63)), url(../assets/img/Biblioteca\ George\ Peabody\,\ Estados\ Unidos_576.jpg);
            }
        .catalogo__body__img__fondo
            {
                background: linear-gradient(to right,rgba(87, 73, 69, 0.63),rgba(74, 96, 74, 0.63)), url(../assets/img/Biblioteca\ Tianjin\ Binhai\,\ República\ Popular\ China_576.jpg);         
            }
        
        .registro__body__img__fondo
            {
                background: linear-gradient(to left,rgba(87, 73, 69, 0.63),rgba(74, 96, 74, 0.63)), url(../assets/img/Biblioteca\ Nacional\ de\ Austria\,\ Republica\ de\ Austria_576.jpg);
            }
        
        .galeria__body__img__fondo
            {
                background: linear-gradient(to top,rgba(87, 73, 69, 0.63),rgba(74, 96, 74, 0.63)), url(../assets/img/Biblioteca\ Estatal\ de\ Nueva\ Gales\ del\ Sur\,\ Australia_576.jpg) ;
            }
        
/*
No se carga esta imagen, a partir del breakpoint 576px se carga la imagen del index
*/
        .contacto__body__img__fondo
            {
                background: linear-gradient(to center,rgba(87, 73, 69, 0.63),rgba(74, 96, 74, 0.63)),  
                url("../assets/img/Portugal576.jpg");
            }
      
        .error__body__img__fondo
            {
                @extend .index__body__img__fondo;
                background: url(../assets/img/libro\ roto.jpg);
            }
    }


/* 
Al colocar display flex desordena la tabla.
Con display block permite ordenarla aunque corre hacia la izquierda los nombres
de columna
*/
/*
thead, tbody 
    {
        display: block;
    }

tbody 
    {
        height: 30vh;
        overflow-y: auto;
    }
*/

/* 
Esta clase la defino para que si hay más registros - renglones, libros - en el cátalago
y disponibles para pedir, cuya capacidad exceda la tabla respectiva, aparezca sobre la vertical
lado izquierdo la barra de desplazamiento respectiva.
He intentado colocar la barra en otra parte que abarque solo al tbody aunque no tuve éxito,
por ello el div que contiene esta clase abarca toda la tabla
*/
.tabla
    { 
        border-collapse: collapse;
        height: 30vh;
        overflow-y: $auto;
    }

