/*
Esta clase contiene las 5 imágenes del Catálogo, en la misma defino el alto y ancho del espacio para cada una
de las 5 imágenes, además declaro al display de tipo flexible lo que me permitirá darles a las imágenes
la disposición space around sobre el eje vertical, ya que la dirección del componente flex es horizontal.
*/

.catalogo    
    {
        width: 30%;
        height: 50vh;
        display:map-get($flexible,display-flexible);
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0 auto;
        justify-content:space-around;
        align-items:map-get($texto-alineacion,centrado);
        /*
        Declaro el espacio que utiliza cada imágen en el cátalogo, definiéndole ancho y alto.
        */
        .catalogo__img  /* imagenes */
            {
                width: 120px;
                height: 170px;
                object-fit: $cover;
            }
        .catalogo__zoom:hover    
            {
                transform:scale(2);    
            }
        
        
    }
