.footer
    {
        width: 100vw;
        height: 50px;
        background-color: #32385e5f;
        color: black;
        text-align:map-get($texto-alineacion, centrado);
        position: fixed;
        padding-bottom: 10px;
        bottom: $margin-o-padding-0px;
        font-size: map-get($fuente-medida, fuente-footer);
        .redes
            {
                display:map-get($flexible, display-flexible);
                justify-content:map-get($flexible, contenido-justificado-espacio-igual);
                align-items:map-get($texto-alineacion, centrado);
            }
    }

/* 
Esta clase permite modificar el color del icono de fontawesome
y además le doy el tamaño
*/
.fa-heart
    {
        color: rgba(7, 151, 241, 0.79);
        font-size: 1.5rem;
    }
/*
.redes
    {
        display: $flex;
        justify-content: space-evenly;
        align-items: $center;
    }
*/
/*
Mediante esta clase defino el tamaño y la decoración
de los links del footer
*/    
.redes a
    {
        font-size: $un-rem;
        text-decoration: none;  
    }

    
@media screen and (max-width: 768px)
    {
        .redes a
            {
                font-size: 0.5rem;
            }
   
        .fa-heart
            {
                font-size: $un-rem;
            }
    
    }
    