/* header */
/*
Estilo el header de las cinco páginas
Mediante position sticky le dijo al header, compuesto por logo y menú, que a pesar de que el scroll
vertical se active, el menú quede fijo en la parte superior de la página.
*/
.header                           
    {
        background-color: #32385e5f;
        margin-bottom: $margin-o-padding-0px;
        position: $sticky;
        top: 5px;
        z-index: 10;
    }

.header__div__img
    {
        width: 30px;
    }


/* la propiedad order permite alterar la ubicación de los elementos dentro de un flex, en este caso dentro del ul
se altero el orden de los lista item inicio y contacto, situación que se ordena a partir de la propiedad 
en cuestión */

.header__nav__ul__li__a
    { 
        color: white;
        text-decoration: none;    /* quita el subrayado de cada una de las opciones del menù de navegaciòn */    
        font-size: $un-rem;
        display: inline-block;  /* de esta forma le indico que siga siendo un elemento en línea y además que también sea
        un elemento en bloque respecto al resto de las propiedas que ahora si puedo definirle tales 
        como margin top y bottom, padding top y bottom */
        /*margin: 10px;    /* distancia superior externa a la caja */
        margin-top: 5px;
        margin-bottom: 5px;
        padding-right: 0px;
        padding-left: 0px;
        background-color: rgba(96, 66, 66, 0.363);
    }

/*
Ubicación del icono
*/
.header__div__img__mover
    {
        margin-left: 1px;
        margin-right: 10px;
    }


/* la propiedad order permite alterar la ubicación de los elementos dentro de un flex, en este caso dentro del ul
se altero el orden de los lista item inicio y contacto, situación que se ordena a partir de la propiedad 
en cuestión */
 
.li__ancla__inicio
    {   
        order: -1;
    }

.li__ancla__contacto
    {
        order: 4;
    }
