/* 
Aplico color de fondo blanco al nombre de la biblioteca de la imagen del body 
*/
.nombre__biblioteca
    {
        background-color: $color-blanco;
    }

.texto__blanco
    {
        -webkit-text-fill-color:$color-blanco;
    }

.fuente__negrita
    {
        font-weight: bold;
    }

/* main */

.parrafo__sangria                    /* las clases se llaman con el punto */
    {
        text-indent: 50px; /*debiera ser vh, vw o % la unidad de medida a expresar*/
    }

/* 
Centrado horizontal de las secciones iframe, ya sea el texto que describe o el mismo componente ifrmaeo 
*/

.iframe
    {
        text-align:map-get($texto-alineacion,centrado);
        width: auto;
        height: auto;
    }

    /* 
Utilizo esta clase para justificar el texto 
*/
.centrar__texto 
    {
        text-align: $justify;
    }

.centrar
    {
        align-items:map-get($texto-alineacion,centrado);
    }

/* 
Separo main del footer para que en la vista desktop, se vea bien el componente más abajo del main
*/

.main__separo
    {
        margin-bottom: 60px;
    }

.fuente__tamaño
    {
        font-size: $un-rem + 0.2;
    }


/*
Input enviar y restablecer de los formularios
*/
.boton
    {
        color:$color-blanco;
        border-radius: 45px 45px 45px 45px;
        -webkit-border-radius: 45px 45px 45px 45px;
        -moz-border-radius: 45px 45px 45px 45px;
        background-color: #785F2F;
        border-color:#785F2F;
    }
