$font-family-Merriweather: 'Merriweather', serif;
$margin-o-padding-0px: 0px;
$un-rem: 1rem;
/* 
En el .scss creación de variables
coloco 200%/2, me da como resultado
100%, almaceno la operación de división, no el 
resultado aunque cuando asigno la variable 
- $cien-x-ciento - a una propiedad, 
en .css aparece directamente 100%
*/
$fixed: fixed;
$cien-x-ciento: 200%/2; 
$height-100vh: 100vh;
$sticky: sticky;
$auto: auto;
$cover: cover;
$justify: justify;
$color-blanco: white; 

/* 
Mapas o Map 
Aquí van los mapas, es decir, junto a las variables
*/
    
$fuente-medida:
    (
        h1: 3.2rem,
        h2: 2.6rem,
        parrafo: 1.8rem,
        fuente-footer: 0.7rem
    );

$texto-alineacion:
    (
        centrado: center,
        izquierda: left,
        derecha: right,
        justificado: justify,
        comienzo: start,
        fin: end
    );

$flexible:
    (
        display-flexible: flex,
        direccion-fila: row,
        direccion-columna: column,
        direccion-fila-reversa: row-reverse,
        direccion-columna-reversa: column-reverse,
        wrap: wrap,
        nowrap: nowrap,
        contenido-justificado-comienzo: flex-start,
        contenido-justificado-final: flex-end,
        contenido-justificado-espacio-entremedio: space-between,
        contenido-justificado-espacio-simetrico: space-around,
        contenido-justificado-espacio-igual: space-evenly
    );
