/*
Particiono el código
Vinculo las distintas páginas .scss con estilos.scss

*/
@import "variables.scss";
@import "reset.scss";
@import "body.scss";
@import "header.scss";
@import "footer.scss";
@import "catalogo.scss";
@import "utilidades.scss";
/* 
Utilizo la font family (ff) Mohave.
Descargo la ff localmente
*/
@font-face 
    {
        font-family: $font-family-Mohave;
        src: url("../assets/fonts/Mohave-VariableFont_wght.ttf")
    }

/*
Mediante esta clase declaro las características quiero que tome la sección main de la página index
*/ 
.index__main__flexible
        {
            display: $flex;
            flex-direction: $column;
            justify-content: $center;
            align-items: $center;
        }

/* body */



/* 
Al colocar display flex desordena la tabla.
Con display block permite ordenarla aunque corre hacia la izquierda los nombres
de columna
*/
/*
thead, tbody 
    {
        display: block;
    }

tbody 
    {
        height: 30vh;
        overflow-y: auto;
    }
*/

/* 
Esta clase la defino para que si hay más registros - renglones, libros - en el cátalago
y disponibles para pedir, cuya capacidad exceda la tabla respectiva, aparezca sobre la vertical
lado izquierdo la barra de desplazamiento respectiva.
He intentado colocar la barra en otra parte que abarque solo al tbody aunque no tuve éxito,
por ello el div que contiene esta clase abarca toda la tabla
*/
.tabla
    { 
        border-collapse: collapse;
        height: 30vh;
        overflow-y: $auto;
    }

/*
Se declara que la altura de las tablas Catalogo y Pedi será de 30 vh
Cuando las mismas (tablas) se desbordan por la cantidad de filas que poseen, debe activarse
el scroll vertical
*/
.desbordamiento__tabla 
    {
        height: 30vh;
        overflow-y: $auto;
    }

.carrousel
    {                   
        width: 20vw;
    }
/*
La clase carousel-item de bootstrap no tiene declara un height, en este caso a tal propieadad le doy el
valor de 60vh 
*/
.carousel-item
    {
        height: 60vh;
    }

/*
Cada una de las imágenes que contiene carrousel tendrán una altura de 100% y cubrirá todo el espacio 
declarado para tal fin
object-fit: cover El objeto se adecuará al espacio asignado
*/
.carousel-item img
    {
        height: $cien-x-ciento;
        object-fit: $cover;
    }

/*
Clase que se ocupa de estilar el logo y las anclas del header de cada una de las 5 páginas
Le especifico el ancho y lo defino como display flex
*/
.div__header__flexible
    {
        width: 100vw;
        display: $flex;
        flex-direction: $row;
        justify-content: $center;
    }

/* 
Cargo una imagen de fondo en el contenedor body de la página index.html
En la primer pre entrega tal página estaba cargada en el main 
*/
.index__body__img__fondo
    {
        background-image: linear-gradient(to bottom,rgba(82, 85, 64, 0.452),rgba(73, 61, 69, 0.447)), url(../assets/img/Biblioteca\ George\ Peabody\,\ Estados\ Unidos.jpg);
        background-repeat: no-repeat;
        background-size: $cover;
        background-position: $center;
        background-attachment: $fixed;   /* Esto indica que la imagen de fondo estará fija en 
                                        la pantalla y no se moverá con el contenedor.*/ 
    }

/* 
Cargo una imagen de fondo en el contenedor body de la página catalogo.html
En la primer pre entrega tal página estaba cargada en el main 
*/
.catalogo__body__img__fondo
    {
        background-image: url(../assets/img/Biblioteca\ Tianjin\ Binhai\,\ República\ Popular\ China.jpg);
        background-repeat:no-repeat;
        background-size: $cover; 
        background-position: $center;
        background-attachment: $fixed;         
    }

/* 
Cargo una imagen de fondo en el contenedor body de la página registro.html
En la primer pre entrega tal página estaba cargada en el main 
*/
.registro__body__img__fondo
    {
        background-image: url(../assets/img/Biblioteca\ Nacional\ de\ Austria\,\ Republica\ de\ Austria.jpg) ;
        background-repeat:no-repeat;
        background-size: $cover; 
        background-position: $center;
        background-attachment: $fixed;
    }

/* 
Cargo una imagen de fondo en el contenedor body de la página pido.html
En la primer pre entrega tal página estaba cargada en el main 
*/
.pido__body__img__fondo
    {
        background-image: url(../assets/img/Biblioteca\ Estatal\ de\ Nueva\ Gales\ del\ Sur\,\ Australia.jpg) ;
        background-repeat: no-repeat;
        background-size: $cover;
        background-position: $center;
        background-attachment: $fixed;
    }

/* 
Cargo una imagen de fondo en el contenedor body de la página contacto.html
En la primer pre entrega tal página estaba cargada en el main 
*/
.contacto__body__img__fondo
    {
        background-image: linear-gradient(to right,rgba(79, 29, 14, 0.63),rgba(22, 68, 22, 0.63)), url("../assets/img/Biblioteca\ del\ Palacio\ de\ Mafra\,\ Portugal.jpg");
        background-repeat: no-repeat;
        background-size: $cover;
        background-position: $center;
        background-attachment: $fixed;
    }

.fondo
    {
        background:linear-gradient(to right,rgba(0, 0, 0, 0.642),rgba(0, 0, 0, 0.642)),  url("../assets/img/fondo.jpg");
        background-size: cover;
        background-attachment: fixed;
        background-position: $center;
        background-repeat: no-repeat;
    }


/*
Clase definida en bootstrap utilizada para el estilado de un
formulario, modifico la propiedad width donde le disminuyo el 
ancho
*/
.form-control
        {
            width: 30vh;
        }

/* Media query para cuando el medio sea una pantalla - celular -
y el ancho máximo sea de 768px */

@media screen and (max-width: 768px)
    {
           
        /* 
        Modifico el tamaño de los títulos de columna y contenido de celdas de las tablas de catálogo
        y de pedí
        */

        th, td
            {
                font-size: 0.5rem;
            }
        
    .carrousel
            {                   
                width: 30vw;
                height: 50vh;
                margin-bottom: 100px;
            }
        }
        