@charset "UTF-8";
/*
Particiono el código
Vinculo las distintas páginas .scss con estilos.scss
*/
/* Acá declaro el mapa $fuente-medida, $texto-alineacion, las variables */
/* 
En el .scss creación de variables
coloco 200%/2, me da como resultado
100%, almaceno la operación de división, no el 
resultado aunque cuando asigno la variable 
- $cien-x-ciento - a una propiedad, 
en .css aparece directamente 100%
*/
/* 
Mapas o Map 
Aquí van los mapas, es decir, junto a las variables
*/
/*
@import "mixin.scss";
*/
/*
Declaro margin, padding, font-family 
*/
* {
  margin: 0px;
  padding: 0px;
  font-family: "Merriweather", serif;
  /* 
  indico que todos los elementos respeten su tamaño indistintamente si agrego  
  borde o padding a los elementos de las cajas 
  */
  box-sizing: border-box;
}

@font-face {
  font-family: "Merriweather", serif;
  src: url("../assets/fonts/Merriweather-Regular.ttf");
}
/* Todas las clases que no se tienen que anidar porque se utilizan en varios dados*/
/* 
Aplico color de fondo blanco al nombre de la biblioteca de la imagen del body 
*/
.nombre__biblioteca {
  background-color: white;
}

.texto__blanco {
  -webkit-text-fill-color: white;
}

.fuente__negrita {
  font-weight: bold;
}

.fuente__cursiva {
  font-style: italic;
}

/* main */
.parrafo__sangria {
  text-indent: 50px; /*debiera ser vh, vw o % la unidad de medida a expresar*/
}

/* 
Centrado horizontal de las secciones iframe, ya sea el texto que describe o el mismo componente ifrmaeo 
*/
.iframe {
  text-align: center;
  width: auto;
  height: auto;
}

/* 
Utilizo esta clase para justificar el texto 
*/
.centrar__texto {
  text-align: justify;
}

.centrar {
  /*align-items:map-get($texto-alineacion,centrado);*/
  text-align: center;
}

/* 
Separo main del footer para que en la vista desktop, se vea bien el componente más abajo del main
*/
.main__separo {
  margin-bottom: 60px;
}

/*
Input enviar y restablecer de los formularios
*/
.boton {
  color: white;
  border-radius: 45px 45px 45px 45px;
  -webkit-border-radius: 45px 45px 45px 45px;
  -moz-border-radius: 45px 45px 45px 45px;
  background-color: #785F2F;
  border-color: #785F2F;
}

/*
Especifico que ocupe el 100% del ancho y del alto del contenedor body
*/
.body {
  width: 100%;
  height: 100vh;
}

/* 
Cargo una imagen de fondo en el contenedor body de la página index.html
En la primer pre entrega tal página estaba cargada en el main 
*/
.index__body__img__fondo, .error__body__img__fondo, .contacto__body__img__fondo, .galeria__body__img__fondo, .registro__body__img__fondo, .catalogo__body__img__fondo {
  background-image: linear-gradient(to bottom, rgba(87, 73, 69, 0.7), rgba(74, 96, 74, 0.7)), url(../assets/img/Biblioteca\ George\ Peabody\,\ Estados\ Unidos.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* Esto indica que la imagen de fondo estará fija en 
la pantalla y no se moverá con el contenedor.*/
}

/* 
Utilizo el extend para en la clase catalogo reusar las mismas propiedades/valor que utilizo en la
clase imagen, con la salvedad de que la imagen de fondo cargado en el body de catalogo será distinta
de aquella cargada en el body de index.
*/
.catalogo__body__img__fondo {
  background-image: linear-gradient(to right, rgba(87, 73, 69, 0.7), rgba(74, 96, 74, 0.7)), url(../assets/img/Biblioteca\ Tianjin\ Binhai\,\ República\ Popular\ China.jpg);
}

.registro__body__img__fondo {
  background-image: linear-gradient(to left, rgba(87, 73, 69, 0.7), rgba(74, 96, 74, 0.7)), url(../assets/img/Biblioteca\ Nacional\ de\ Austria\,\ Republica\ de\ Austria.jpg);
}

.galeria__body__img__fondo {
  background-image: linear-gradient(to top, rgba(87, 73, 69, 0.7), rgba(74, 96, 74, 0.7)), url(../assets/img/Biblioteca\ Estatal\ de\ Nueva\ Gales\ del\ Sur\,\ Australia.jpg);
}

.contacto__body__img__fondo {
  background-image: linear-gradient(to top, rgba(87, 73, 69, 0.7), rgba(74, 96, 74, 0.7)), url(../assets/img/Biblioteca\ del\ Palacio\ de\ Mafra\,\ Portugal.jpg);
}

.error__body__img__fondo {
  background-image: url(../assets/img/libro\ roto.jpg);
}

/* 
Utilizo dos mapas, del primero de ellos tomo el tamaño de la fuente mientras que del segundo utilizo
el tipo de alineacion del texto
*/
.h__uno {
  font-size: 3.2rem;
  text-align: center;
}

.h__dos {
  font-size: 2.6rem;
}

.parrafo__fuente {
  font-size: 1.8rem;
}

.parrafo__biblioteca {
  font-size: 1rem;
}

@media screen and (max-width: 768px) {
  .index__body__img__fondo, .catalogo__body__img__fondo, .registro__body__img__fondo, .galeria__body__img__fondo, .contacto__body__img__fondo, .error__body__img__fondo {
    background-image: linear-gradient(to bottom, rgba(87, 73, 69, 0.7), rgba(74, 96, 74, 0.7)), url(../assets/img/Biblioteca\ George\ Peabody\,\ Estados\ Unidos_768.jpg);
  }
  .catalogo__body__img__fondo {
    background-image: linear-gradient(to right, rgba(87, 73, 69, 0.7), rgba(74, 96, 74, 0.7)), url(../assets/img/Biblioteca\ Tianjin\ Binhai\,\ República\ Popular\ China_768.jpg);
  }
  .registro__body__img__fondo {
    background-image: linear-gradient(to left, rgba(87, 73, 69, 0.7), rgba(74, 96, 74, 0.7)), url(../assets/img/Biblioteca\ Nacional\ de\ Austria\,\ Republica\ de\ Austria_768.jpg);
  }
  .galeria__body__img__fondo {
    background-image: linear-gradient(to top, rgba(87, 73, 69, 0.7), rgba(74, 96, 74, 0.7)), url(../assets/img/Biblioteca\ Estatal\ de\ Nueva\ Gales\ del\ Sur\,\ Australia_768.jpg);
  }
  .contacto__body__img__fondo {
    background-image: linear-gradient(to top, rgba(87, 73, 69, 0.7), rgba(74, 96, 74, 0.7)), url(../assets/img/Portugal768.jpg);
  }
  .error__body__img__fondo {
    background-image: url(../assets/img/libro\ roto.jpg);
  }
  .nombre__biblioteca__ocultar {
    display: none;
  }
  .h__uno {
    font-size: 1.6rem;
  }
  .h__dos {
    font-size: 1.4rem;
  }
  .parrafo__fuente {
    font-size: 1rem;
  }
  .parrafo__biblioteca {
    padding-top: 5px;
    font-size: 0.7rem;
  }
  .centrado {
    text-align: center;
  }
  /* 
  Modifico el tamaño de los títulos de columna y contenido de celdas de las tablas de catálogo
  y de pedí
  */
  th, td {
    font-size: 0.5rem;
  }
}
@media screen and (max-width: 576px) {
  .index__body__img__fondo, .catalogo__body__img__fondo, .registro__body__img__fondo, .galeria__body__img__fondo, .contacto__body__img__fondo, .error__body__img__fondo {
    background-image: linear-gradient(to bottom, rgba(87, 73, 69, 0.7), rgba(74, 96, 74, 0.7)), url(../assets/img/Biblioteca\ George\ Peabody\,\ Estados\ Unidos_576.jpg);
  }
  .catalogo__body__img__fondo {
    background-image: linear-gradient(to right, rgba(87, 73, 69, 0.7), rgba(74, 96, 74, 0.7)), url(../assets/img/Biblioteca\ Tianjin\ Binhai\,\ República\ Popular\ China_576.jpg);
  }
  .registro__body__img__fondo {
    background-image: linear-gradient(to left, rgba(87, 73, 69, 0.7), rgba(74, 96, 74, 0.7)), url(../assets/img/Biblioteca\ Nacional\ de\ Austria\,\ Republica\ de\ Austria_576.jpg);
  }
  .galeria__body__img__fondo {
    background-image: linear-gradient(to top, rgba(87, 73, 69, 0.7), rgba(74, 96, 74, 0.7)), url(../assets/img/Biblioteca\ Estatal\ de\ Nueva\ Gales\ del\ Sur\,\ Australia_576.jpg);
  }
  /*
  No se carga esta imagen, a partir del breakpoint 576px se carga la imagen del index
  */
  .contacto__body__img__fondo {
    background-image: linear-gradient(to center, rgba(87, 73, 69, 0.7), rgba(74, 96, 74, 0.7)), url(../assets/img/Portugal576.jpg);
  }
  .error__body__img__fondo {
    background-image: url(../assets/img/libro\ roto.jpg);
  }
}
/* 
Al colocar display flex desordena la tabla.
Con display block permite ordenarla aunque corre hacia la izquierda los nombres
de columna
*/
/*
thead, tbody 
    {
        display: block;
    }

tbody 
    {
        height: 30vh;
        overflow-y: auto;
    }
*/
/* 
Esta clase la defino para que si hay más registros - renglones, libros - en el cátalago
y disponibles para pedir, cuya capacidad exceda la tabla respectiva, aparezca sobre la vertical
lado izquierdo la barra de desplazamiento respectiva.
He intentado colocar la barra en otra parte que abarque solo al tbody aunque no tuve éxito,
por ello el div que contiene esta clase abarca toda la tabla
*/
.tabla {
  border-collapse: collapse;
  height: 30vh;
  overflow-y: auto;
}

/* header */
/*
Estilo el header de las cinco páginas
Mediante position sticky le dijo al header, compuesto por logo y menú, que a pesar de que el scroll
vertical se active, el menú quede fijo en la parte superior de la página.
*/
.header {
  background-color: rgba(50, 56, 94, 0.3725490196);
  margin-bottom: 0px;
  position: sticky;
  top: 5px;
  z-index: 10;
  /*
  Ubicación del icono
  */
  /*
  text-decoration: none; quita el subrayado de cada una de las opciones del menù de navegaciòn 
  display: inline-block;         /* de esta forma le indico que siga siendo un elemento en línea y además que también sea un elemento en bloque respecto al resto de las propiedas que ahora si puedo definirle tales 
  como margin top y bottom, padding top y bottom */
}
.header .header__div__img {
  width: 30px;
}
.header .header__div__img__mover {
  margin-left: 1px;
  margin-right: 10px;
}
.header .header__a {
  color: white;
  text-decoration: none;
  font-size: 1.8rem;
  display: inline-block; /* presente-agregado */
  position: relative; /* agregado */
  margin-top: 5px;
  margin-bottom: 5px;
  padding-right: 0px;
  padding-left: 0px;
  background-color: rgba(96, 66, 66, 0.363);
  /* 
  Sitúo las opciones del menú desplegable hacia la derecha de la pantalla 
  */
}
.header .header__a::after {
  content: "";
  width: 100%;
  /* grosor del subrayado */
  height: 2px;
  background-color: white;
  border-radius: 4px;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: initial;
  transition: transform 0.3s ease-in-out;
}
.header .header__a:hover::after {
  transform: scaleX(1);
}
/*
Le doy color al icon del menú hamburguesa tomanda la clase definida en bootstrap
*/
.navbar-toggler-icon {
  background-color: #7a450c;
}

@media screen and (max-width: 768px) {
  .header .header__a {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
/* la propiedad order permite alterar la ubicación de los elementos dentro de un flex, en este caso dentro del ul se altero el orden de los lista item inicio y contacto, situación que se ordena a partir de la propiedad 
en cuestión
.li__ancla__contacto
    {
        order: 4;
    }
.li__ancla__inicio
    {   
        order: -1;
    }*/
/*
Clase que se ocupa de estilar el logo y las anclas del header de cada una de las 5 páginas
Le especifico el ancho y lo defino como display flex
*/
.div__header__flexible {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/*
Mediante esta clase declaro las características quiero que tome la sección main de la página index
*/
/*
.index__main__flexible
        {
            display:map-get($flexible,display-flexible);
            flex-direction:map-get($flexible,direccion-columna);
            justify-content:map-get($texto-alineacion,centrado);
            align-items:map-get($texto-alineacion,centrado);
        }
*/
.error__main {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: end;
}
.error__main .error__main__div2 {
  width: 50vw;
  margin-top: 210px;
}

@media screen and (max-width: 768px) {
  .error__main {
    justify-content: center;
  }
  .error__main .error__main__div2 {
    width: 60vw;
    margin-top: 10px;
  }
}
.carrousel {
  width: 20vw;
}

/*
La clase carousel-item de bootstrap no tiene declarado un height, en este caso a tal propieadad le doy el
valor de 60vh 
*/
.carousel-item {
  height: 60vh;
}

/*
Cada una de las imágenes que contiene carrousel tendrán una altura de 100% y cubrirá todo el espacio 
declarado para tal fin
object-fit: cover El objeto se adecuará al espacio asignado
*/
.carousel-item img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.contacto__div__img__icono {
  width: 35px;
}

@media screen and (max-width: 768px) {
  .carrousel {
    width: 30vw;
    height: 60vh;
  }
  .carrousel .carousel-item {
    height: 50vh;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .carrousel .carousel-item .carousel-item img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
/*
Clase definida en bootstrap utilizada para el estilado de un
formulario, modifico la propiedad width donde le disminuyo el tml */
/*
Se declara que la altura de las tablas Catalogo y Pedi será de 30 vh
Cuando las mismas (tablas) se desbordan por la cantidad de filas que poseen, debe activarse
el scroll vertical
*/
.desbordamiento__tabla {
  height: 30vh;
  overflow-y: auto;
}

/*
Esta clase contiene las 5 imágenes del Galeria, en la misma defino el alto y ancho del espacio para cada una
de las 5 imágenes, además declaro al display de tipo flexible lo que me permitirá darles a las imágenes
la disposición space around sobre el eje vertical, ya que la dirección del componente flex es horizontal.
*/
.galeria {
  width: 30%;
  height: 60vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto auto;
  justify-content: space-around;
  align-items: center;
  /*
  Declaro el espacio que utiliza cada imágen en la galeria, definiéndole ancho y alto.
  */
}
.galeria .galeria__img {
  width: 120px;
  height: 170px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 5px solid rgb(131, 125, 93);
  margin-bottom: 20px;
}
.galeria .galeria__zoom:hover {
  transform: scale(2);
}

@media screen and (max-width: 768px) {
  .galeria .galeria__img {
    margin-bottom: 40px;
  }
}
.footer {
  width: 100vw;
  height: 50px;
  background-color: rgba(50, 56, 94, 0.3725490196);
  color: black;
  text-align: center;
  position: fixed;
  padding-bottom: 10px;
  bottom: 0px;
  font-size: 0.7rem;
}
.footer .redes {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* 
Esta clase permite modificar el color del icono de fontawesome
y además le doy el tamaño
*/
.fa-heart {
  color: rgba(7, 151, 241, 0.79);
  font-size: 1.5rem;
}

/*
.redes
    {
        display: $flex;
        justify-content: space-evenly;
        align-items: $center;
    }
*/
/*
Mediante esta clase defino el tamaño y la decoración
de los links del footer
*/
.redes a {
  font-size: 1rem;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .redes a {
    font-size: 0.5rem;
  }
  .fa-heart {
    font-size: 1rem;
  }
}/*# sourceMappingURL=estilos.css.map */